[project]
	description = This repo is for demonstration purposes only.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/azizbahri
[access "refs/for/refs/*"]
	read = group user/azizbahri
	push = group user/azizbahri
	label-Code-Review = -2..+2 group user/azizbahri
	label-Verified = -1..+1 group user/azizbahri
	rebase = group user/azizbahri
	removeReviewer = group user/azizbahri
	submit = group user/azizbahri
[access "refs/heads/*"]
	read = group user/azizbahri
	create = group user/azizbahri
	push = +force group user/azizbahri
	pushMerge = group user/azizbahri
[access "refs/tags/*"]
	push = group user/azizbahri
	push = +force group user/azizbahri
